<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>472107255951-oeb3f676al708kbsgqh5neen4g60ssoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472107255951-oeb3f676al708kbsgqh5neen4g60ssoe</string>
	<key>API_KEY</key>
	<string>AIzaSyAeQJT-xSJs__c0Y1h2Kx70OYgaPwIj7WE</string>
	<key>GCM_SENDER_ID</key>
	<string>472107255951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.BarHuntV2</string>
	<key>PROJECT_ID</key>
	<string>barhuntv2</string>
	<key>STORAGE_BUCKET</key>
	<string>barhuntv2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472107255951:ios:8f04876a2893f3b3</string>
	<key>DATABASE_URL</key>
	<string>https://barhuntv2.firebaseio.com</string>
</dict>
</plist>
